.sidebar
  .sidebar__top
    %p #{current_user.name}
    = link_to new_group_path do
      %i.fa.fa-edit
    = link_to edit_user_path(current_user) do
      %i.fa.fa-cog
  = render partial: "sidebar__main", locals: {groups: @groups}       
.main
  .main__top
    %h2 
      = @group.name
    %p 
      = "Members : #{@group.get_members}"
    = link_to edit_group_path(@group)  do
      .main__top__button Edit
  .main__contents 
    = render partial: "message", collection: @messages
  
  = form_for [@group, @message], html: { class: "message-form", id: "message-form" } do |f|
    .main__foot
      .main__foot__container
        = f.text_field :body, class: "main__foot__container__message", placeholder: "type a message"
        %label.main__foot__container__label
          %i.fa.fa-image.fa-lg
          =f.file_field :image, class: "main__foot__container__label__file"
      = f.submit class:"main__foot__button", value: "Send"