= form_for group, html: { class: "group-form" } do |f|
  - if group.errors.any?
    .chat-group-form__errors
      %h2= "#{group.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - group.errors.full_messages.each do |message|
          %li= message
  .chat-group-form__field
    .chat-group-form__field--left
      = f.label :name, class: "chat-group-form__label"
    .chat-group-form__field--right
      = f.text_field :name, placeholder: "グループ名を入力してください", class: "chat-group-form__input"
  .chat-group-form__field
    .chat-group-form__field--left
      = f.label :name,  "チャットメンバーを追加", class: "chat-group-form__label"
    .chat-group-form__field--right
      .chat-group-form__search.clearfix
        = f.text_field :user_id, class: 'chat-group-form__input', id: 'user-search-field', placeholder: '追加したいユーザー名を入力してください', value: ""
      .user-search-result#user-search-result
  .chat-group-form__field
    .chat-group-form__field--left
      = f.label "チャットメンバー", class: "chat-group-form__label"
    .chat-group-form__field--right#chat-group-form__field--right
      - if (group.users.length != 0) 
        - group.users.each_with_index do |user, index| 
          .chat-group-user
            %input{name: "group[user_ids][]", value: "#{user.id}", class: "selected-user-list", type: 'hidden'}
            %p.chat-group-user__name
              = user.name
            .user-search-remove.chat-group-user__btn.chat-group-user__btn--remove.js-remove-btn
              = "削除"
  .chat-group-form__field
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit class: "chat-group-form__action-btn"
- content_for(:javascript) do
  = javascript_include_tag "user"
